body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper{
    background-color: rgb(241, 224, 71);
    height: 100vh;
}
.container{
    max-width: 85%;
    margin: 0 auto;
    position: relative;
   
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: flex-start;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 58px;
    padding-bottom: 0;
}
.navlist{
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    padding-bottom: 5px;
    transition: 0.5s ease-out;
    
    
    
}
.navlist:hover{
    letter-spacing: 1.5px;
    border-bottom: 2px solid rgb(51, 51, 141);
    
}
.logo{
    width: 25%;
    margin-top: 0px;
    padding-top: 20px;
}
.contactnav{
    width: 25%;
    display: flex;
   justify-content: center;
    
}
.btn{
    /* border: 2px solid grey; */
    border: 0;
    color: rgb(255, 255, 255) ;
    background:#050505;
    padding: 15px 35px;
    margin-top: 40px;
    font-weight: 600;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial;
    text-transform: uppercase;
}
.btn:hover{
    background: rgb(51, 51, 141);
    text-decoration: none;
}
.Pj{
    color: rgb(51, 51, 141);
    /* letter-spacing: 0.02px; */
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 800;
}
.j{
    position: relative;
    left: -15px;
}
.span{
    position: relative;
    left: -15px;
    text-transform: capitalize;
    color: black;
}
.span1{
    color: rgb(51, 51, 141);
}
.details{ 
    margin-top: 15%;
    margin-left: 10px;
    font-family: sans-serif;
}
.communication{
    margin-top: auto;
    margin-left: auto;
}
.details h1{
    font-size: 40px;
    margin-bottom: 20px;;
}
.details h4{
    color: crimson;
    margin-top: 40px;
}
.details a{
    background: rgb(49, 49, 170);
    padding: 10px 20px;
    font-weight:bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 20px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 25%;
    
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50);
    transition:bottom 1s left 1s;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .angela{
    left: 45%;
}
.media-icons{
    margin: auto;
}
.media-icons a{
    position: relative;
    color: #111;
    font-size: 20px;
    transition: 0.3s;
    transition-property: trasform;
    margin-left: 10px;
}
.media-icons a:no(:last-child){
    margin-right: 80px;
}
.media-icons a:hover{
    transform:scale(1.5);
}
